<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style th:replace="/layout :: css"></style>
</head>
<body>
<h1>City Detail</h1>
<h2>CityName: <span th:text="${city.getCityName()}"></span></h2>
<h2>Popular: <span th:text="${city.getPopular()}"></span></h2>
<h2>GDP: <span th:text="${city.getGdp()}"></span></h2>
<h2>Country: <span th:text="${city.getCountry().getCountryName()}"></span></h2>
<a th:href="@{/city}">Back to home</a>
<footer th:replace="/layout::footer"></footer>
</body>
</html>
